* {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #ff6633;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

main {
    background-color: #ffffff;
}

.grid-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1.kelas {
    font-weight: 900;
    font-size: 1.3rem;
    text-align: center;
    background-color: #ff6633;
    padding: 6px 0px;
    text-decoration: none;
}

a.header {
    text-decoration: none;
    color: #000;
}

p.guide-small {
    font-weight: 400;
    font-size: 0.76rem;
    text-align: center;
    padding: 2px 0px 3px;
    background-color: #fff;
}

#kelas {
    padding-bottom: 4px;
    border-bottom: solid #afafaf 1px;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    background-color: #fff;
}

.button-head {
    background-color: #ff6633;
    margin: 3px 0px 4px;
    padding: 3px 9px;
    border-radius: 100px;
    text-align: center;
}

a.button-head {
    font-size: 0.9rem;
    text-decoration: none;
    color: #ffffff;
}

#materi {
    padding: 6px 16px;
    border-bottom: solid #afafaf 1px;
}

h3 {
    font-weight: 500;
    font-size: 1.1rem;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    line-height: 1.6;
}

.font-text {
    font-weight: 400;
    font-size: 0.9rem;
}

ul {
    list-style-position: inside;
    list-style-type: disc;
    text-align: left;
    padding-left: 0.7em;
    font-weight: 400;
}

.font-text-2 {
    font-weight: 400;
    font-size: 0.8rem;
}

#info {
    padding: 6px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info h3 {
    text-align: center;
}

#info p {
    text-align: center;
    line-height: 1.6;
}

.cta-big {
    display: flex;
    justify-content: center;
}

.button-big {
    background-color: #ff6633;
    text-align: center;
    margin: 3px 0;
    padding: 4.5px 12px;
    border-radius: 100px;
}

a.button-big {
    font-size: 1.1rem;
    text-decoration: none;
    color: #ffffff;
}

.line {
    width: 300px;
    height: 1px;
    background-color: #afafaf;
    margin: 8px 0px;
}

.icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img.icon {
    width: 50px;
    margin: 10px 15px 5px;
}

p.middle {
    max-width: 350px;
}

.stamp-container {
    display: flex;
    justify-content: center;
}

.cta {
    display: flex;
    justify-content: center;
}

.button-small {
    background-color: #ff6633;
    margin: 4px 0 6px;
    padding: 3px 9px;
    border-radius: 100px;
    text-align: center;
}

a.button-small {
    font-size: 0.9rem;
    text-decoration: none;
    color: #ffffff;
}

img.stamp {
    width: 300px;
    margin: 10px auto;
}

a.link {
    text-align: center;
    font-size: 0.9rem;
    color: #ff6633;
}

p.link {
    margin-bottom: 4px;
}

#rek {
    display: flex;
    padding-bottom: 4px;
}

article.rek-container-1 {
    margin-right: 5px;
    margin-left: auto;
}

article.rek-container-2 {
    margin-left: 5px;
    margin-right: auto;
}

a img {
    display: flex;
}

.rek-img {
    max-width: 46vw;
}

img.rek {
    max-width: 100%;
    border-radius: 1.3rem;
}

h3.kelas-rek {
    text-align: center;
    margin-top: 4px;
    font-size: 1rem;
}

p.tagline {
    font-weight: 400;
    font-size: 0.76rem;
    text-align: center;
    font-style: italic;
    margin: 2px 0px 3px;
}

.button-rek {
    background-color: #ff6633;
    margin: 4px 4px 10px;
    padding: 2.5px 7.5px;
    border-radius: 100px;
    text-align: center;
}

a.button-rek {
    font-size: 0.76rem;
    text-decoration: none;
    color: #ffffff;
}

footer p {
    font-size: 0.76rem;
    text-align: center;
    background-color: #ff6633;
    padding: 20px 0px;
}

@media screen and (min-width: 540px) {
    body {
        background-color: #bd4e2a;
    }

    .container {
        max-width: 540px;
    }

    img {
        max-width: 540px;
    }

    article.rek-container-1 {
        margin-right: 7.5px;
        margin-left: auto;
    }
    
    article.rek-container-2 {
        margin-left: 7.5px;
        margin-right: auto;
    }
    
    img.rek {
        max-width: 240px;
        border-radius: 1.4rem;
    }

    h3.kelas-rek {
        font-size: 1.1rem;
    }

    .button-rek {
        margin: 4px 4px 10px;
        padding: 3px 9px;
    }
    
    a.button-rek {
        font-size: 0.9rem;
    }
}